<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>Title of the document</title>
<link rel="stylesheet" href="{% static 'repo/document_flow.css' %}">
</head>


<h1>Document Flow Options</h1>
<div class="boxes">
  <div class="box1">Box A</div>
  <div class="box2">Box B</div>
  <div class="box1">Box C</div>
  <div class="box2">Box D</div>
  <div class="box1">Box E</div>
  <div class="box2">Box F</div>
  <div class="box1">Box G</div>
  <div class="box2">Box H</div>
  <div class="box1">Box I</div>
</div>