{% load static %}
<html>
<head>
<title>Title of the document</title>
<link rel="stylesheet" href="{% static 'repo/grid.css' %}">
</head>

<section class="grid">
    <div class="header">Rank</div>
    <div class="header">Player</div>
    <div class="header">Score</div>
	<div class="cell rank">1</div>
	<div class="cell name">dakid</div>
	<div class="cell score">1,203</div>
	<div class="cell rank">2</div>
	<div class="cell name">grILLa</div>
	<div class="cell score">955</div>
	<div class="cell rank">3</div>
    <div class="cell name">momz</div>
	<div class="cell score">787</div>
</section>